@media (max-width: 830px) {
  .gridst {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 768px) {
  .gridst {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .gridst h3 {
    font-size: 25px !important;
  }

  .nfc p {
    font-size: 14px !important;
    width: 90% !important;
    padding-bottom: 20px;
  }
  .nfc img {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .gridst {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .crdstyle {
    width: 100%;
    margin: 0px auto !important;
    height: 200px !important;
  }
  .gridst h3 {
    font-size: 17px !important;
  }
  .gridst img {
    left: 20px !important;
    width: 70% !important;
    top: 30px !important;
  }

  .nfc {
    display: flex !important;
    flex-direction: column !important;
    width: 90% !important;
  }
  .nfc p {
    font-size: 14px !important;
    width: 90% !important;
    padding-bottom: 20px;
  }
  .nfc img {
    width: 200px;
  }

  .nfc .nfc-l {
    margin-left: 20px !important;
  }
  .indust p {
    width: 100% !important;
  }
}

.crdstyle {
  transition: transform 0.8s; /* Increased transition duration to 6 seconds */
}

.crdstyle:hover {
  border: 2px solid rgb(58, 237, 178) !important;
  transform: scale(1.1);
}
