.cardd-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Use space-between to better manage the layout */
    align-items: flex-start; /* Align cards to the top */
    gap: 20px; /* Maintain space between the cards */
}

.cardd {
    background: linear-gradient(to right, rgb(32, 35, 42), rgb(47, 49, 56));
    border: 2px solid rgb(101, 102, 105);
    overflow: hidden;
    position: relative;
    border-radius: 34px;
    width: 30%; /* Default width for cards */
    margin-top: 60px;
}

.cardd-image {
    width: 100%;
    height: auto;
}

.cardd-content {
    width: 95%;
    margin-top: 20px;
    padding: 20px;
}

.cardd-title {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.cardd-description {
    margin: 10px 0;
    color: white;
    font-weight: 100;
}

.butn,
.butn1 {
    position: absolute;
    right: 20px; /* Adjusted for better positioning */
    bottom: 20px; /* Adjusted for better positioning */
    background: transparent;
    color: white;
    border-radius: 50%; /* Rounded button */
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
}

.imp{
    font-size: 10px !important;
}

.butn {
    height: 60px;
    width: 60px;
}

.butn1 {
    height: 45px;
    width: 45px;
}

.butn1:hover,
.butn:hover {
    background-color: rgb(58, 242, 181);
    color: black;
    border: none;
    transform: rotate(45deg);
}

@media (max-width: 768px) {
    .blog-main h2 {
        font-size: 30px !important;
    }
    .blog-main p {
        font-size: 15px !important;
    }
    .blog-sec {
        margin: 0px !important;
    }
}

@media (max-width: 480px) {
    .blog-sec {
        padding-top: 0px !important;
    }
    .blog-main p {
        width: 100% !important;
    }
}
