.cardd-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Center the cards vertically if needed */
    gap: 20px; /* Add space between the cards */
}

.cardd {
    background: linear-gradient(to right, rgb(32, 35, 42), rgb(47, 49, 56));
    border: 2px solid rgb(101, 102, 105);
    overflow: hidden;
    position: relative;
    border-radius: 34px;
    width: 30%; /* Set a default width for the cards */
    margin-top: 60px;
}

.cardd-image {
    width: 100%;
    height: auto;
    top: 0;
}

.cardd-content {
    width: 95%;
    margin-top: 20px;
    padding: 20px;
}

.cardd-title {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 600;
    width: 70%;
}

.cardd-description {
    margin: 10px 0;
    color: white;
    font-weight: 100;
}




@media (max-width: 768px) {
.blog-main h2{
font-size: 30px !important;
}
.blog-main p{
font-size: 15px !important;
}
.blog-sec{
    margin: 0px !important;
}


}