/*  */


.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns, each taking equal space */
    gap: 10px; /* Space between images */
    max-width: 100%; /* Ensures it takes the full width of the parent */
    padding: 10px; /* Optional padding around the grid */
}

.image-grid img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent images from exceeding their container */
}



@media (max-width: 768px) {
   
.main h2{
    font-size: 30px !important;

}

.main p {
font-size: 14px !important;
}
.main-data{
    margin-top: 10px !important;
}
}

@media (max-width: 480px) {
   

.main h2{
    font-size: 20px !important;

}

.main p {
    font-size: 14px !important;
    width: 100% !important;
    text-align: left; /* Use 'left', 'center', 'right', or 'justify' based on your needs */
   /* Center the paragraph block horizontally if necessary */
  }
  
.main-data{
    margin-top: 0px !important;
    width: 100% !important;
}
.tw-img{
    width: 130px !important;
}


.iphone-image-container{
    width: 40% !important;
   

}
.iphone-image{
    height: 270px !important;
    padding-top: 20px !important;
   

    

}
.image-grid{
    width: 60% !important;
}

.mobile-hide {
    display: none;
  }
}


