@media (max-width: 768px) {
  .best-in-app h2 {
    padding-top: 0px !important;
    font-size: 30px !important;
  }
  .best-in-app p {
    font-size: 15px !important;
  }
  .marg .best-in-app {
    padding-top: 100px !important;
  }
}
@media (max-width: 480px) {
  .best-in-app h2 {
    padding-top: 0px !important;
    font-size: 20px !important;
  }
  .best-in-app p {
    font-size: 15px !important;
    width: 100% !important;
    margin-top: 0px !important;
  }
  .marg {
    padding-top: 0px !important;
  }
  .marg section {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .best-in-app {
    padding-top: 30px !important;
  }
  .marg .best-in-app {
    padding-top: 30px !important;
  }
}
.best-in-app {
  padding-top: 80px;
  z-index: 0;
}
