
*{
    margin: 0;
    padding: 0;
}
.Containerr {
  
    display: flex;
    justify-content: center;
    flex-direction: column;  /* Stack items vertically */
   
   /* background-position: center; */
   background-repeat: no-repeat;
 background-size: contain;
    
  }

  .Hero{
    background-image: url('../image/bg.png');
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: 10;
  }
.header{
    display: flex;
    justify-content: space-between;
   align-items: center;
    

  
}


.testimonials-container {
    max-width: 600px;
    margin: 0 auto;
}

.testimonials {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
}

.testimonials::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.testimonial {
    min-width: 200px;
    padding: 20px;
    margin-right: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
    flex-shrink: 0;
}

button {
    font-size: 18px;
    padding: 5px 10px;
}


/* styles.css */
.main-btn {
    color: rgb(58, 242, 181);
    background: transparent;
    width: 190px;
    height: 50px;
    font-weight: 600;
    border: 1px solid rgb(58, 242, 181);
    border-radius: 10px;
    transition: background-color 0.4s, color 0.4s; /* Smooth transition */
}

.main-btn:hover {
    background: rgb(58, 242, 181); /* Change background on hover */
    color: rgb(0, 0, 0); /* Change text color on hover */
    font-weight: 600;
}

.header img{
    width: 240px;
}


@media (max-width: 768px) {
    .header h3{
       display: none;

    }
    .header img{
        width: 150px;
    }
    .header button{
        width: 150px;
        height: 50px;
        font-size: 15px;
    }
nav{
    width: 100%;

}
   
  .hvr{
    font-size: 16px;

 }
 nav ul{
    width: 100%;
 }

 .crausal{
    height: 150px !important;

 }
 
 .my-img{
    width: 100px !important;
 }
 .next{
    margin-left: 0px !important;
 }

.indust h2{
    font-size: 30px !important;
}
.indust p{
    font-size: 15px !important;
}



  }


  
  @media (max-width: 480px) {
  

    .Hero{
height: 100% !important;
    }
    .header h3{
        font-size: 12px;

    }
    .header img{
        width: 190px;
        padding: 0px 15px;
     
     
    }
    .header button{
        width: 120px;
        height: 40px;
        font-size: 10px;
        position: absolute;
        right: 0;
        top: 20px;
        margin-right: 20px;
        display: none;
     
        
    }

nav{
    display: none;
}

.mey{
    display: 'block';
}
   
 .b-f{
    flex-direction: column !important;
    gap: 0px !important;;
 }


 .crausal{
    height: 100px !important;

 }
 .next{
    margin-left: 0px !important;
    font-size: 20px !important;
 }
 .prev{
    font-size: 20px !important;
 }
 .my-img{
    width: 25% !important;
  
;
 }
 .header-wrap{
    padding-top:20px !important;
 }


 .indust h2{
    font-size: 20px !important;
}
.indust p{
    font-size: 15px !important;
}

.indust{
    margin-top: 30px !important
}
.header{
    position: fixed;
    background-color: #101418;
    width: 100% !important;
    height: 70px;
    top: 0;
    right: 0;
}

    }


      