.hvr,
.hvr2 {
  margin: 0 15px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 100;
  position: relative;
  padding: 4px 0;
  line-height: 1.5;
  text-decoration: none;
  transition: color 2s ease;
  color: white;
}

.dot {
  display: inline-block;
  position: relative;
  top: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 8px;
  vertical-align: middle;
  transition: background-color 1s ease;
  visibility: hidden;
}

.hvr:hover .dot {
  visibility: visible;
  background-color: rgb(58, 242, 181);
}
.hvr2:hover .dot {
  visibility: visible;
  background-color: rgb(146, 199, 85);
}

.list-i:hover {
  color: rgb(58, 242, 181);
}

.hvr:hover {
  color: rgb(58, 242, 181);
}
.hvr2:hover {
  color: rgb(146, 199, 85);
}

.dot.active {
  background-color: rgb(58, 242, 181);
  transition: background-color 1s ease;
}

.active {
  color: rgb(58, 242, 181);
  text-decoration: none;
  color: aliceblue;
}

.dot.active2 {
  background-color: rgb(146, 199, 85);
  transition: background-color 1s ease;
}
.active2 {
  color: rgb(146, 199, 85);
  text-decoration: none;
}

.active .dot {
  display: inline-block;
}
.active2 .dot {
  display: inline-block;
}

ul li {
  position: relative;
  font-weight: 300 !important;
  font-size: 22px !important;
}

nav {
  margin-top: 70px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-image-source: linear-gradient(
    90deg,
    rgba(100, 101, 103, 0.1) 0%,
    rgba(100, 101, 103, 1) 50%,
    rgba(100, 101, 103, 0.1) 100%
  );

  color: white;
  background: #0e1016;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-nav {
  position: fixed;
  top: -300px; /* Keep it at the top */
  width: 100%;
  z-index: 1000;
}

nav ul li.active {
  color: rgba(58, 242, 181, 1);
}

nav ul li .dot.active {
  background-color: rgba(58, 242, 181, 1);
}

@media (max-width: 768px) {
  nav {
    width: 100%;
  }

  .hvr {
    font-size: 16px !important;
    padding: 1px !important;
  }

  nav ul {
    width: 100%;
  }
}

@media (max-width: 768px) {
  nav {
    width: 100%;
  }

  .hvr {
    font-size: 16px !important;
  }
}

@media (max-width: 480px) {
  .header {
    z-index: 1;
  }
  nav {
    display: none; /* Hide nav when screen is less than or equal to 480px */
  }

  .drawer-toggle {
    color: aliceblue;
    margin-left: 15px;

    top: -7px !important;
    font-size: 70px !important;

    position: fixed !important;
    right: 0px;
    padding-top: 23px;
  }
}

.css-1edfpdg-MuiTypography-root {
  margin: 0 !important;
  font-family: "Helvetica" !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 0.8 !important;
  letter-spacing: 0 !important;
  padding: 4px !important;
}

.main-btn:hover {
  background-color: var(--hoverColor); /* Background changes to data?.color */
  border-color: var(--hoverColor);
  color: black; /* Text color becomes black on hover */
}
.css-1u169s7-MuiList-root {
  list-style: none;
  margin: 0;
  padding: 12px !important;
  position: relative;
  padding-top: 38px !important;
}

.css-1eh66j0 {
  width: 300px !important;
  background: #111419;
  height: 100%;
  color: white;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-image-source: linear-gradient(
    90deg,
    rgba(100, 101, 103, 0.1) 0%,
    rgba(100, 101, 103, 1) 50%,
    rgba(100, 101, 103, 0.1) 100%
  );
  border-image-slice: 1;
}
.css-1c3tbzi {
  padding: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: flex-start !important;
}
