.hvr {
  margin: 0 15px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 100;
  position: relative; /* Positioning context for the dot */
  padding: 4px 0; /* Maintain size and position */
  line-height: 1.5; /* Consistent line height */
  text-decoration: none; /* Prevent text decoration changes */
  transition: color 2s ease; /* Transition for text color */
}

.dot {
  display: inline-block;
  position: relative;
  top:-4px;
    width: 8px; 
  height: 8px; 
  border-radius: 50%;
  background-color: transparent; 
  margin-right: 8px; 
  vertical-align: middle; 
  transition: background-color 1s ease; 
  visibility: hidden;
}

.hvr:hover .dot {
  visibility: visible;
  background-color: rgb(58, 242, 181); 
}


.list-i:hover{
  color: rgb(58, 242, 181); 
}
.hvr:hover {
  color: rgb(58, 242, 181); 
}

.dot.active {
  background-color: rgb(58, 242, 181); 
  transition: background-color 1s ease; 
}

.active {
  color: rgb(58, 242, 181);
  text-decoration: none;
}


.active .dot {
  display: inline-block; 
}

  


  


  
  ul li {
    position: relative; /* For positioning the dot */
  }
  

nav {
    margin-top: 70px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image-source: linear-gradient(90deg, rgba(100, 101, 103, 0.1) 0%, rgba(100, 101, 103, 1) 50%, rgba(100, 101, 103, 0.1) 100%);
    
    color: white;
    background: #0E1016;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-nav {
  position: fixed;
  top: -300px; /* Keep it at the top */
  width: 100%;
  z-index: 1000;
 
}




@media (max-width: 768px) {
    nav {
        width: 100%;
    }

    .hvr {
        font-size: 16px;
    }

    nav ul {
        width: 100%;
    }
}

@media (max-width: 480px) {
    nav {
        display: none; /* Hide nav when screen is less than or equal to 480px */
    }

    .drawer-toggle {
      
      
       color: aliceblue;
       margin-left: 15px;
    
      top:-7px !important;
      font-size: 70px !important;
      
      position: fixed !important;
      right: 0px;
      padding-top: 23px;
   
    }
  



}

.css-1edfpdg-MuiTypography-root {
  margin: 0  !important;
  font-family:  "Helvetica" !important;
  font-weight: 500 !important;
  font-size: 19px !important;
  line-height: 0.8 !important;
  letter-spacing: 0 !important;

}

