.talk-btn {
  background-color: rgb(58, 237, 178);
  width: 180px;
  height: 67px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: background-color 0.4s, color 0.4s;
  color: black;
  font-weight: 550; /* Smooth transition */
}

.talk-btn2 {
  background-color: rgb(146, 199, 85);
  width: 180px;
  height: 67px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: background-color 0.4s, color 0.4s;
  color: black;
  font-weight: 550; /* Smooth transition */
}

.talk-btn:hover {
  background-color: transparent;
  border: 1px solid rgb(58, 237, 178);
  color: rgb(58, 237, 178);
}
.talk-btn2:hover {
  background-color: transparent;
  border: 1px solid rgb(146, 199, 85);
  color: rgb(146, 199, 85);
}

/* Responsive styles */
@media (max-width: 768px) {
  .best-in-app h2 {
    font-size: 30px !important;
    width: 100% !important;
  }

  .best-in-app p {
    font-size: 20px !important ; /* Adjust paragraph size for tablets */
  }

  .talk-btn {
    width: 130px !important; /* Adjust button width for tablets */
    height: 50px !important; /* Adjust button height for tablets */
    font-size: 15px !important; /* Adjust button font size for tablets */
  }
  .talk-btn2 {
    width: 130px !important; /* Adjust button width for tablets */
    height: 50px !important; /* Adjust button height for tablets */
    font-size: 15px !important; /* Adjust button font size for tablets */
  }
  .hidden-br {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .best-in-app {
    padding-top: 40px !important;
  }
  .best-in-app h2 {
    font-size: 20px !important;

    margin-top: 10px !important;
  }

  .best-in-app p {
    font-size: 15px !important;
    padding: 0px !important; /* Adjust paragraph size for mobile */
    line-height: 16px;
  }

  .talk-btn {
    width: 120px !important; /* Adjust button width for mobile */
    height: 40px !important; /* Adjust button height for mobile */
    font-size: 16px;
    margin-top: 30px; /* Adjust button font size for mobile */
  }
  .talk-btn {
    width: 120px !important; /* Adjust button width for mobile */
    height: 40px !important; /* Adjust button height for mobile */
    font-size: 16px;
    margin-top: 30px; /* Adjust button font size for mobile */
  }
  .talk-btn2 {
    width: 120px !important; /* Adjust button width for mobile */
    height: 40px !important; /* Adjust button height for mobile */
    font-size: 16px;
    margin-top: 30px; /* Adjust button font size for mobile */
  }

  section {
    margin: 15px !important; /* Add padding to section for mobile */
  }
}
