.fade-enter {
    opacity: 0;
    transform: translateY(10px); /* Start slightly lower */
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
    transition: opacity 0.75s cubic-bezier(0.25, 0.1, 0.25, 1), 
                transform 0.75s cubic-bezier(0.25, 0.1, 0.25, 1); /* Smooth ease-in-out */
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateY(10px); /* Move slightly down */
    transition: opacity 0.5s ease-in, 
                transform 0.5s ease-in; /* Fast exit */
  }
  